{% extends 'base.html' %}

{% block title %}
<title>Добавить</title>
{% endblock %}

{% block body %}

<div class="container p-5 pt-3">
    <h1>Добавить</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control-lg" placeholder="Введите название"><br>
        <input type="number" name="title" id="title" class="form-control-lg" placeholder="Введите цену"><br>
        <button class="btn btn-link" type="submit">Добавить</button>

    </form>
</div>

{% endblock %}